img {
  width: 100px;
  /* padding: 50px; */
}

.icon {
  width: 30px;
}

h2 {
  color: darkblue;
}

.logo {
  width: 400px;
}

.ItemsPage {
  display: flex;
  /* grid-template-areas: */
}

.map {
}

.Items {
  display: flex;
}


.Categories {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
  align-self: center;
}

